<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon">
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="com.amazon.base.Base"/>
      <class name="com.amazon.testcase.LoginAndLogout"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
